<%- include ('partials/header'); -%>
<h1> Quotes that have this keyword</h1>
    <ul>
        <%quotes.forEach(function(q){%>
           <li><%=q.quote%> -<%=q.firstName%> <%=q.lastName%></li>
        <%});%>
    </ul>
    <button class='col-sm-4 btn btn-info btn-block'onclick='location.href="/";'>Search Again</button>
<%- include ('partials/footer'); -%>